/* amarillo 1: #F2CB05
amarillo 2: #F2B705 
texto: #F0F0F0*/

#headerNav {
  margin-left: 15rem;
  margin-right: 15rem;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  backdrop-filter: blur(0.25rem);
  background: rgba(140, 56, 48, 0.414);
}

#headerNav .nav-link {
  color: #FFFF;
}

.home { 
  color: aliceblue;
}

.back-imagen {
  background-image: url('/img/soldiers.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 21rem;
}

.back-imagen:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Color de la superposición y nivel de transparencia */
}

.first-section {
  position: relative;
  z-index: 1; /* Asegura que el contenido se muestre por encima de la superposición */
}

.first-section p {
  text-shadow: 2px 2px 4px rgba(16, 91, 252, 0.8);
}


@media screen and (min-width: 992px) {
  #headerNav .container-fluid {
    justify-content: center;
  }
}